COUNTRY_CODE=US
LANGUAGE=en
CHANNEL_ID=010794e5-35fe-4e32-aaff-cd2c74f89d61
UPCOMING=true
EXCLUSIVE_ACCESS=true,false
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/{webhook.id}/{webhook.token}
POLLING_INTERVAL_SECONDS=60
DB_PATH=snkrs.db